.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-right: 9px;
}
#value{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}